* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* filter: invert(1); */
  transition: 0.6s;
  scroll-behavior: smooth;
}
.aaa {
  color: grey;
  font-size: 30px;
  line-height: 40px;
}
.btn {
  word-spacing: 0.19rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  transition: all 0.4s;
  font-size: 1.6rem;
  /* border: none; */
  cursor: pointer;
}
.gototop {
  text-align: center;
  opacity: 0.8;
  right: 80px;
  position: fixed;
  top: 85%;
  transform: scale(0.6);
  height: 60px;
  width: 60px;
  margin: -50px 0 0 90%;
  z-index: 999;
}

.btn-dange {
  display: none;
  background-color: #94d2e8;
  border-radius: 15%;
  /* width: 80px; */
  /* height: 70px; */
  z-index: 99;
  margin-bottom: 2rem;
  border: 1px solid #fff;
}

.btn-dange:hover {
  background-color: #295987;
  border-radius: 0;
}
::selection{
  background-color: #ccc;
  color: #295987;
  text-shadow: 0px 0px 1px #000;
}
html {
  font-size: 62.5%;
  /* padding: 1rem; */
}
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 400; */
  font-size: 1.6rem;
  /* padding: 3rem; */
  /* background-color: #94d2e8; */
  /* height: 1000px; */
  background-size: contain;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
  color: white;
}
.toLocate{
  position: relative;
  top: -15rem;
}
.logo {
  position: relative;
  transition: 0.6s;
  height: 70px;
  /* padding-left: 40px; */
}

.navigation--row {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.6s;
  padding:6rem 20rem;
  /* display: inline-block;  */
}

/* nav{
  padding: 5rem !important;
} */
.navigation__nav {
  width: 100%;
}

.sticky {
  padding: 2rem 25rem;
  background: rgba(148, 210,232, 1);
  /* background-color: rgba(255,255,255,); */
  box-shadow: 0.625rem 0px 2.5rem black;
  /* box-shadow: 0.625rem 0px 2.5rem rgba(0, 118, 230, 0.5); */
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  transition: 0.6s;
}

.navigation__list {
  list-style: none;
  float: right;
}

.navigation__item {
  display: inline-block;
  margin: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  /* color: #007bff; */
  font-weight: 500;
  font-size: 2rem;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.4s;
}

.navigation__link:link:not(.btn),
.navigation__link:visited:not(.btn) {
  padding: 1rem 0;
}

.navigation__link:hover,
.navigation__link:active {
  color: black;
  border-bottom: 0.125rem solid #fff;
}

.navigation__link:hover:not(.btn),
.navigation__link:active:not(.btn) {
  padding: 1rem 0;
}
.hide{
  display: none;
}
.header{
    background-color: #94d2e8;
  padding: 25rem 20rem;
}
h1{
  text-align:left;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 8rem;
  font-weight: 700;
  color: white;
}
.header img{
  position: absolute;
  right: 100px;
  width: 40%;
  margin: auto;
}
.features_bar{
  width: 70%;
  margin: auto;
  position: relative;
  top: -70px;
}
.features_bar img{
  /* border-radius: 100%; */
  width: 80%;
}
.features_bar img:hover{
  /* width: 100%; */
  filter: hue-rotate(180deg);
  /* box-shadow: 0.625rem 0px 2.5rem black; */
  transform: scale(1.1);
}
.features_bar p{
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-top: 20px;
}
.text_back{
  background-color: #94d2e8;
  margin-top: 25%;
  width: 130%;
}
.mask img{
  width: 70%;
}
h2{
  color: white;
  font-weight: 700;
  padding: 20px;
  margin-left: 30%;
  font-size: 4rem;
  text-align: left;
}
.about{
  padding: 15rem auto;
margin: auto;
background-color: rgba(148, 210,232, 0.1);
}
.aboutUs{
  margin: 10rem auto;
  background-color: #94d2e8;
}
.aboutUs_content{
  width: 60%;
  margin: auto;
  padding-bottom: 10rem;
}
.about_btn{
  border: none;
  color: white;
  background-color: #94d2e8;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 30px;
  border: 1px solid #94d2e8;
  font-weight: 400;
}
.about_btn:hover{
  background-color: inherit;
  color: #94d2e8;
  border-radius: 0;
}
.video{
  width: 70%;
  background-color: rgba(148, 210,232, 1);
  margin: 5% auto;
  padding: 5rem;
  border-radius: 20px;
}
.video p{
  color: white;
}
h3{
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 20px;
}
.contact_us{
  padding: 5rem;
  background-color: rgba(148,210,232,0.5);
}
input{
  margin: 20px auto;
  padding: 10px 40px;
  display: block;
  border-radius: 10px;
  border: none;
  background-color: #94d2e8;
  color: white;
}
::placeholder{
color: white;
}
h4{
  color: white;
  font-weight: 700;
  padding: 20px;
  font-size: 4rem;
}
.footer{
  padding: 5rem 0 0 0;
  background-color: #94d2e8;
}
.footer .row{
  width: 55%;
  padding: 5rem 0;
  margin:auto;
  color: #295987;
}
.footer a{
  color: #295987;
}
.footer a:hover{
  text-decoration: none;
}
.footer img{
  width: 10%;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
h5{
  font-weight: 700;
  font-size: 2rem;
}
.footer p{
  font-weight: 400;
  margin: 0;
}
.copy{
  padding: 8px;
  color: white;
  background-color: #295987;
}
@media (min-width: 1100px) and (max-width: 1400px) {
  h1{
    font-size: 5rem;
  }
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.3rem;
  }
  .features_bar{
    top: -50px;
  }
  .text_back{
    background-color: #94d2e8;
    margin-top: 25%;
    width: 130%;
  }
  h2{
  font-size: 3rem
  }
}
@media (min-width: 451px) and (max-width: 1100px) {
h1{
  width: 80%;
  font-size: 6rem;
}
  .text_back{
    max-width: 106%;
  }
.header{
  padding: 30rem 5rem;
  overflow: hidden;
}
.header img{
  position: static;
  width: 60%;
  margin: 30px auto;
}
.navigation--row {
  display: none;
  padding:6rem 5rem;
}
.features_bar {
  display: none;
}
#hamMenu{
  display: none;
}
.mask{
  margin: 20rem auto;
}
.mask img{
  width: 90%;
}
h2{
  padding: 20px 10px;
  margin: 0%;
  font-size: 2rem;
  text-align: center;
}
.video{
  width: 85%;
  margin: 5% auto;
  padding: 2rem;
  border-radius: 10px;
}
}
@media (max-width: 450px) {
  h1{
    text-align: center;
    width: 80%;
    font-size: 4rem;
  }
  .header{
    padding: 10rem 0;
  }
  .features_bar {
    display: none;
  }
  .text_back{
    margin: 30px auto;
    width: 100%;
  }
  .footer p{
    font-weight: 400;
    margin: 0;
  }
  .footer p{
    font-size: 1.3rem;
  }
  h5{
    font-size: 1.5rem;
  }
  .footer .row{
    width: 95%;
  }
  input{
    margin: 20px auto;
    padding: 10px;
  }
  .footer img{
    width: 30%;
  }
  .header img{
    position: static;
    width: 70%;
    margin: 30px auto;
  }
  h2{
    padding: 20px 10px;
    margin: 0%;
    font-size: 2rem;
    text-align: center;
  }
  .mask{
    width: 100%;
    margin: auto;
  }
  .mask .row{
    width: 100%;
    margin: auto;
  }
  .mask img{
    width: 90%;
  }
  .header{
    overflow: hidden;
  }
  .sticky{
    background-color: transparent;
    box-shadow: none;
  }
  #navBar{
        display: none;
  }
  #hamMenu{
    background-color: white;
    position: relative;
    display: none;
    left: -250px;
}
h4{
  font-size: 2.5rem;
}
.aboutUs{
  margin: 3rem auto;
}
.aboutUs_content{
  width: 90%;
  margin: auto;
  padding-bottom: 5rem;
  font-size: 1.4rem;
}
  .video{
    width: 95%;
    margin: 5% auto;
    padding: 0.2rem;
    border-radius: 10px;
  }
.video p{
  font-size: 1.4rem;
  padding: 10px;
}
h3{
  font-size: 3.5rem;
  margin: 20px;
}
.gototop {
  right: 40px;
  top: 90%;
}
  /* #logo_ph{
    position: relative;
    right: 270%;
    top: -30px;
  } */
}
